<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <form action="/authenticate" method="POST">
      <div class="form-container">
        <div class="input-field">
          <label for="name">Username</label>
          <input type="text" name="name" />
        </div>
        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" name="password" />
        </div>
        <button class="km-btn km-btn--primary" type="submit">Login</button>
        <a class="create-account-button" href="/sign-in">Create new account</a>
      </div>
    </form>
  </body>
</html>
