<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>My Profile</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Profile</h1>
    <script>
    </script>
</body>
</html>