:root {
  --light-gray: #a9a9a9ee;
  --deep-blue: #0a146c;
}

body {
  margin: 0;
  font-family: monospace;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeee;
  margin-inline: 1rem;
}

header img {
  width: 60px;
}

header ul.menu-items > li {
  display: inline-block;
  margin-inline-start: 0.5rem;
}
